* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#pwainstall {
  -webkit-appearance: none;
  background: black;
  border: 0;
  border-radius: 4px;
  padding: 8px 32px;
  color: white;
  font-size: 1rem;
}
